.~*
*.log
run_files/results
scripts
run_files/*.csv
testConfigFiles/*
!testConfigFiles/template
!testConfigFiles/paths.csv
tests/currentId
tests/defaultFile.csv
tests/jmeter.log
run_files/currentId

run_files/oneTest.sh
run_files/all TID.txt
run_files/.idea/
tests/defaultfile.jtl
tests/ids.csv
python_Test_Manager/
